<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_H</key>
		<integer>-30</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_N</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_P</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_U</key>
		<integer>-50</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>B</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>H</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Ge-cy</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_H</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-110</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>uni0417</key>
		<integer>0</integer>
		<key>uni042F</key>
		<integer>-40</integer>
		<key>uni044D</key>
		<integer>-90</integer>
		<key>uni044F</key>
		<integer>-110</integer>
		<key>uni04B1</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_I</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-5</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-35</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_U-cy</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-750</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_E</key>
		<integer>-35</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_I</key>
		<integer>-15</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_S</key>
		<integer>-40</integer>
		<key>@MMK_R_U</key>
		<integer>-25</integer>
		<key>@MMK_R_U-cy</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-70</integer>
		<key>@MMK_R_i</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_p</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-90</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>uni042F</key>
		<integer>-70</integer>
		<key>uni0431</key>
		<integer>-40</integer>
		<key>uni0437</key>
		<integer>-60</integer>
		<key>uni0447</key>
		<integer>-60</integer>
		<key>uni044D</key>
		<integer>-70</integer>
		<key>uni044F</key>
		<integer>-90</integer>
		<key>uni04B1</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_E</key>
		<integer>-35</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_N</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_P</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_U-cy</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_E</key>
		<integer>-20</integer>
		<key>@MMK_R_I</key>
		<integer>-5</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_P</key>
		<integer>-15</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_ge-cy</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-60</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-20</integer>
		<key>uni042F</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>uni0404</key>
		<integer>-50</integer>
		<key>uni0427</key>
		<integer>-35</integer>
		<key>uni042D</key>
		<integer>-30</integer>
		<key>uni0431</key>
		<integer>10</integer>
		<key>uni044F</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-70</integer>
		<key>uni0427</key>
		<integer>-70</integer>
		<key>uni0431</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>uni0447</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_U-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_softsign-cy</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_tse-cy</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_ve-cy</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_U-cy</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>uni0431</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_germandbls</key>
		<integer>-25</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>IJ</key>
		<integer>0</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_E</key>
		<integer>-15</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_E</key>
		<integer>-35</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_E</key>
		<integer>-20</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
	</dict>
	<key>germandbls</key>
	<dict>
		<key>@MMK_R_germandbls</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
	</dict>
	<key>uni0423</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-95</integer>
	</dict>
	<key>uni0437</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-40</integer>
	</dict>
	<key>uni0438</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>0</integer>
	</dict>
	<key>uni043D</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
	</dict>
	<key>uni043E</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
	</dict>
	<key>uni044F</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U-cy</key>
		<integer>-20</integer>
	</dict>
	<key>uni04B1</key>
	<dict>
		<key>@MMK_R_U-cy</key>
		<integer>-10</integer>
	</dict>
	<key>uni0924094D</key>
	<dict>
		<key>tadeva</key>
		<integer>-30</integer>
		<key>uni0924094D</key>
		<integer>-30</integer>
	</dict>
	<key>uni0924094D0924094D</key>
	<dict>
		<key>uni0924094D</key>
		<integer>-30</integer>
	</dict>
	<key>uni0924094D0930094D</key>
	<dict>
		<key>uni092F</key>
		<integer>6</integer>
	</dict>
	<key>uni0926094D_ghadeva_uuvowelsign</key>
	<dict>
		<key>uni092F.post</key>
		<integer>-30</integer>
	</dict>
	<key>uni092C094D</key>
	<dict>
		<key>jadeva</key>
		<integer>50</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-25</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-10</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
